# Ignorar llaves y secretos
.env

# Python (archivos temporales)
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Docker
.docker/

# Archivos de sistema
.DS_Store
Thumbs.db

# Carpeta de base de datos local (si existe)
db-data/